In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import datetime

In [2]:
#Reading the csv file
data=pd.read_csv('/content/train.csv')

In [3]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

# **a) Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.**

In [4]:
# data pre-processing
# check for the null values in the dataset
data.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [5]:
#!. dropping the missing values
df_org=pd.DataFrame(data)

In [6]:
# for dropping the values of the particular columns
df_cleaned=df_org.dropna(subset=['Mileage','Engine','Power','Seats','New_Price'])

In [7]:
# for resetting the index
df_cleaned.reset_index(drop=True,inplace=True)

In [8]:
print("original Dataframe shape:",df_org.shape)

original Dataframe shape: (5847, 14)

In [9]:
print("Dataframe",df_cleaned.shape)

Dataframe (814, 14)

In [ ]:
# After cleaning the data dataframe 814 rows and 14 columns

**b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).**

In [10]:
df_cleaned.to_csv('/content/cleaned_data.csv',index=False)

In [12]:
data_clean=pd.read_csv('/content/cleaned_data.csv')

In [13]:
data_clean.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [14]:
df_unit=pd.read_csv('/content/cleaned_data.csv')

In [15]:
df_unit['Mileage']=df_unit['Mileage'].str.replace(r' kmpl| km/kg','',regex=True).astype(float)
df_unit['Engine']=df_unit['Engine'].str.replace(' CC','').astype(int)
df_unit['Power']=df_unit['Power'].str.replace(' bhp','').astype(float)
df_unit['New_Price']=df_unit['New_Price'].str.replace(r' Lakh| Cr','',regex=True).astype(float)

In [16]:
data_with_no_units=df_unit.to_csv('/content/data_with_no_units.csv',index=False)

In [17]:
datanounits=pd.read_csv('/content/data_with_no_units.csv')

In [18]:
datanounits.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5.0,8.61,4.50
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.50,8.0,21.00,17.50
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5.0,10.65,9.95
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477,175.56,7.0,32.01,15.00
4,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190.00,5.0,47.87,18.55

**C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.**

In [19]:
df_encode=pd.read_csv('/content/data_with_no_units.csv')

In [20]:
df_encode=pd.get_dummies(df_encode, columns=['Fuel_Type','Transmission'])

In [21]:
data_encodings=df_encode.to_csv('/content/data_with_encodings.csv',index=False)

In [22]:
data_with_encode=pd.read_csv('/content/data_with_encodings.csv')

In [23]:
data_with_encode.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199,88.70,5.0,8.61,4.50,0,1,0,1
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.50,8.0,21.00,17.50,1,0,1,0
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,0,1,0,1
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477,175.56,7.0,32.01,15.00,1,0,0,1
4,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190.00,5.0,47.87,18.55,1,0,1,0

**d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.**

In [24]:
data_age=pd.read_csv('/content/cleaned_data.csv')

In [31]:
df_age=pd.DataFrame(data_age)

In [26]:
# calcualating the current  year using the date time library
current_year=datetime.datetime.now().year

In [27]:
df_age['Car_age']=current_year-df_age['Year']

In [28]:
#storing the data into csv
data_current_age=df_age.to_csv('/content/data_with_currentage.csv',index=False)

In [29]:
data_current_age=pd.read_csv('/content/data_with_currentage.csv')

In [30]:
data_current_age.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Car_age
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,13
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,8
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,6
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,10
4,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,10

**e.)Perform select, filter, rename, mutate, arrange and summarize with group by operations (or**
**their equivalent operations in python) on this dataset**.

In [46]:
# Load the dataset
df = data_clean

# Group by 'Location' and 'Fuel_Type'
grouped_df = df.groupby(['Name', 'Year', 'Fuel_Type'])

# Selecting specific columns after grouping
selected_grouped_df = grouped_df[['Name', 'Year', 'Fuel_Type']]

# Filtering groups based on a condition (e.g., total Price > 5000000)
filtered_grouped_df = grouped_df.filter(lambda x: x['Price'].sum() > 15)
fgdf=filtered_grouped_df.to_csv('/content/filter_grouping.csv',index=False)


# Renaming columns
renamed_grouped_df = grouped_df.agg({'Price': 'mean', 'Seats': 'max'}).rename(columns={'Price': 'Average_Price'})
rgdf=renamed_grouped_df.to_csv('/content/rename_grouping.csv',index=False)


# Mutating: Add a new column 'Price_Per_Kilometer' (Price divided by Kilometers_Driven) for each group
mutated_grouped_df = grouped_df.apply(lambda x: x.assign(Price_Per_Kilometer=x['Price'] / x['Kilometers_Driven']))
mgdf=mutated_grouped_df.to_csv('/content/mutate_grouping.csv',index=False)

# Arranging rows within each group by 'Year' in descending order
arranged_grouped_df = grouped_df.apply(lambda x: x.sort_values(by='Year', ascending=False))
agdf=arranged_grouped_df.to_csv('/content/arranged_grouping.csv',index=False)


# Summarizing: Calculate the mean 'Price' and maximum 'Seats' for each group
summary_grouped_df = grouped_df.agg({'Price': 'mean', 'Seats': 'max'})
sgdf=summary_grouped_df.to_csv('/content/summary_grouping.csv',index=False)


print("Selected Columns for Grouped Data:")
print(selected_grouped_df.head())

print("\nFiltered Grouped Data:")
print(filtered_grouped_df.head())

print("\nRenamed Columns for Grouped Data:")
print(renamed_grouped_df.head())

print("\nMutated Grouped Data:")
print(mutated_grouped_df.head())

print("\nArranged Grouped Data by Year:")
print(arranged_grouped_df.head())

print("\nSummary Statistics for Grouped Data:")
print(summary_grouped_df)

<ipython-input-46-d6e4137a5302>:21: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  mutated_grouped_df = grouped_df.apply(lambda x: x.assign(Price_Per_Kilometer=x['Price'] / x['Kilometers_Driven']))

Selected Columns for Grouped Data:
                                  Name  Year Fuel_Type
0                         Honda Jazz V  2011    Petrol
1    Toyota Innova Crysta 2.8 GX AT 8S  2016    Diesel
2                     Maruti Ciaz Zeta  2018    Petrol
3          Mitsubishi Pajero Sport 4X4  2014    Diesel
4                    BMW 3 Series 320d  2014    Diesel
..                                 ...   ...       ...
809              Tata Bolt Revotron XT  2016    Petrol
810      Volkswagen Vento 1.6 Highline  2011    Petrol
811           Maruti Vitara Brezza VDi  2016    Diesel
812               Honda Brio 1.2 VX MT  2013    Petrol
813                   Maruti Swift VDI  2014    Diesel

[810 rows x 3 columns]

Filtered Grouped Data:
   Unnamed: 0                               Name Location  Year  \
1           7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
2          10                   Maruti Ciaz Zeta    Kochi  2018
3          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
4          20                  BMW 3 Series 320d    Kochi  2014
5          28                Honda WRV i-VTEC VX    Kochi  2018

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
1              36000    Diesel    Automatic      First  11.36 kmpl  2755 CC
2              25692    Petrol       Manual      First  21.56 kmpl  1462 CC
3             110000    Diesel       Manual      First   13.5 kmpl  2477 CC
4              32982    Diesel    Automatic      First  22.69 kmpl  1995 CC
5              37430    Petrol       Manual      First   17.5 kmpl  1199 CC

        Power  Seats   New_Price  Price
1   171.5 bhp    8.0     21 Lakh  17.50
2  103.25 bhp    5.0  10.65 Lakh   9.95
3  175.56 bhp    7.0  32.01 Lakh  15.00
4     190 bhp    5.0  47.87 Lakh  18.55
5    88.7 bhp    5.0  10.57 Lakh   9.90

Renamed Columns for Grouped Data:
                                             Average_Price  Seats
Name                         Year Fuel_Type
Audi A3 35 TDI Premium Plus  2016 Diesel             18.90    5.0
Audi A4 30 TFSI Premium Plus 2017 Petrol             21.73    5.0
Audi A4 35 TDI Premium Plus  2013 Diesel             16.52    5.0
                             2014 Diesel             24.37    5.0
                             2015 Diesel             21.66    5.0

Mutated Grouped Data:
   Unnamed: 0                               Name Location  Year  \
0           2                       Honda Jazz V  Chennai  2011
1           7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
2          10                   Maruti Ciaz Zeta    Kochi  2018
3          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
4          20                  BMW 3 Series 320d    Kochi  2014

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              46000    Petrol       Manual      First    13 km/kg  1199 CC
1              36000    Diesel    Automatic      First  11.36 kmpl  2755 CC
2              25692    Petrol       Manual      First  21.56 kmpl  1462 CC
3             110000    Diesel       Manual      First   13.5 kmpl  2477 CC
4              32982    Diesel    Automatic      First  22.69 kmpl  1995 CC

        Power  Seats   New_Price  Price  Price_Per_Kilometer
0    88.7 bhp    5.0   8.61 Lakh   4.50             0.000098
1   171.5 bhp    8.0     21 Lakh  17.50             0.000486
2  103.25 bhp    5.0  10.65 Lakh   9.95             0.000387
3  175.56 bhp    7.0  32.01 Lakh  15.00             0.000136
4     190 bhp    5.0  47.87 Lakh  18.55             0.000562

Arranged Grouped Data by Year:
   Unnamed: 0                               Name Location  Year  \
0           2                       Honda Jazz V  Chennai  2011
1           7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
2          10                   Maruti Ciaz Zeta    Kochi  2018
3          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
4          20                  BMW 3 Series 320d    Kochi  2014

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              46000    Petrol       Manual      First    13 km/kg  1199 CC
1              36000    Diesel    Automatic      First  11.36 kmpl  2755 CC
2              25692    Petrol       Manual      First  21.56 kmpl  1462 CC
3             110000    Diesel       Manual      First   13.5 kmpl  2477 CC
4              32982    Diesel    Automatic      First  22.69 kmpl  1995 CC

        Power  Seats   New_Price  Price
0    88.7 bhp    5.0   8.61 Lakh   4.50
1   171.5 bhp    8.0     21 Lakh  17.50
2  103.25 bhp    5.0  10.65 Lakh   9.95
3  175.56 bhp    7.0  32.01 Lakh  15.00
4     190 bhp    5.0  47.87 Lakh  18.55

Summary Statistics for Grouped Data:
                                              Price  Seats
Name                          Year Fuel_Type
Audi A3 35 TDI Premium Plus   2016 Diesel     18.90    5.0
Audi A4 30 TFSI Premium Plus  2017 Petrol     21.73    5.0
Audi A4 35 TDI Premium Plus   2013 Diesel     16.52    5.0
                              2014 Diesel     24.37    5.0
                              2015 Diesel     21.66    5.0
...                                             ...    ...
Volkswagen Vento 1.6 Highline 2014 Petrol      6.98    5.0
                              2016 Petrol      7.70    5.0
Volvo S60 D4 Momentum         2014 Diesel     21.50    5.0
                              2015 Diesel     25.00    5.0
Volvo V40 D3 R Design         2015 Diesel     24.00    5.0

[605 rows x 2 columns]

<ipython-input-46-d6e4137a5302>:25: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  arranged_grouped_df = grouped_df.apply(lambda x: x.sort_values(by='Year', ascending=False))